<section class="my-3">
  <mat-card class="mx-auto">
    <img mat-card-image [src]="assetsUrl + '/img/404.jpg'" alt="404 Error Photo">
    <mat-card-content>
      <p>
        <strong>Quote:</strong> {{ randomQuote }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/">Go Back Home</button>
      <button mat-button
              (click)="updateQuote()">Change Quote?</button>
    </mat-card-actions>
  </mat-card>
  <p *ngIf="path">You might want to go to the <a [routerLink]="path">"{{ path }}" page</a></p>
</section>
