<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <ch-simple-loader [loader]="loader"></ch-simple-loader>
  <input type="hidden" formControlName="email">
  <input type="hidden" formControlName="token">

  <div class="row" formGroupName="passwords">
    <mat-form-field class="col-md-6" appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput
             type="password"
             formControlName="password"
             minlength="6"
             required
             autofocus>

      <mat-error *ngIf="formGroup.get('passwords.password').hasError('required')">
        A Password is required
      </mat-error>

      <mat-error *ngIf="formGroup.get('passwords.password').hasError('minlength')">
        Password must be a minimum of 6 characters
      </mat-error>

    </mat-form-field>

    <mat-form-field class="col-md-6" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput
             type="password"
             placeholder="Confirm Password"
             formControlName="password_confirmation"
             minlength="6"
             required>

      <mat-error *ngIf="formGroup.get('passwords.password_confirmation').hasError('required')">
        You must confirm your new password
      </mat-error>

      <mat-error *ngIf="formGroup.get('passwords.password_confirmation').hasError('minlength')">
        Password must be a minimum of 6 characters
      </mat-error>

      <mat-error *ngIf="formGroup.get('passwords.password_confirmation').hasError('equalValidator')">
        Your Passwords do not match
      </mat-error>

    </mat-form-field>
  </div>

  <ch-simple-message [message]="errors$ | async"></ch-simple-message>

  <button mat-raised-button
          color="primary"
          type="submit">
    Reset Password
  </button>

</form>
