<form [formGroup]="formGroup" #formRef="ngForm" class="position-relative" (ngSubmit)="onSubmit()">
  <ch-simple-loader [loader]="loader"></ch-simple-loader>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput
               placeholder="Ex: Jason Smith or Coach Mike"
               formControlName="name"
               required
        >
        <mat-error *ngIf="formGroup.get('name').hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput
               placeholder="Ex: Jason Smith or Coach Mike"
               formControlName="username"
               required
        >
        <mat-error *ngIf="formGroup.get('username').hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <!--<mat-form-field appearance="outline">-->
        <!--<mat-label>Date of Birth</mat-label>-->
        <!--<input matInput-->
               <!--formControlName="date_of_birth"-->
               <!--[matDatepicker]="date_of_birth"-->
               <!--(focus)="date_of_birth.open()">-->
        <!--<mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>-->
        <!--<mat-datepicker [touchUi]="isScreenMobile | async" #date_of_birth></mat-datepicker>-->

        <!--<mat-error *ngIf="formGroup.get('date_of_birth').hasError('required')">-->
          <!--This field is required-->
        <!--</mat-error>-->
      <!--</mat-form-field>-->
    </div>

  </div>

  <ch-simple-message [message]="errorMsg | async"></ch-simple-message>

  <button mat-raised-button
          *ngIf="!isAnUpdateRequest"
          color="primary"
          type="submit">
    Create
  </button>
</form>
