<!--<div class="container">-->
  <!--<mat-card class="mx-auto">-->
    <!--<h2 class="mat-title">Log in</h2>-->
    <!--<ch-login-form></ch-login-form>-->
  <!--</mat-card>-->
<!--</div>-->

<ch-form-container title="Log in" [maxWidth]="350">

  <ch-login-form></ch-login-form>
  <div class="my-3">
    <mat-divider></mat-divider>
    <div class="pt-4 text-center">
      <p class="mat-body d-inline">New to Coach Hub?</p>
      <a class="mat-body ml-1" [routerLink]="signUpRoute">Sign Up</a>
    </div>

  </div>

</ch-form-container>
