<nav *ngIf="(isAuthenticated$ | async) === false">
  <a mat-button
     [routerLink]="rootRoutingQuery.getValue().loginRoute">Login</a>
  <a mat-raised-button
     color="primary"
     [routerLink]="rootRoutingQuery.getValue().signUpRoute">Sign Up</a>
</nav>

<nav *ngIf="isAuthenticated$ | async">
  <div *ngIf="isLoggingOut$ | async; else elseBlock">
    <p class="mat-body m-0">Logging You Out...</p>
  </div>
  <ng-template #elseBlock>
    <!-- Notifications Dropdown -->
<!--    <a mat-button-->
<!--       [matMenuTriggerFor]="notificationsMenu">-->
<!--      <i class="material-icons">notifications_none</i>-->
<!--      <i class="material-icons">keyboard_arrow_down</i>-->
<!--    </a>-->
<!--    <mat-menu #notificationsMenu="matMenu">-->
<!--      <ng-template matMenuContent>-->
<!--        <button mat-menu-item>Alarms</button>-->
<!--        <button mat-menu-item>Health Alerts</button>-->
<!--      </ng-template>-->
<!--    </mat-menu>-->

    <!-- Unread Messages Dropdown -->
    <a [routerLink]="rootRoutingQuery.getValue().messagingRoute"
       mat-button
       matTooltip="Inbox">
      <mat-icon       [matBadgeHidden]="unreadCount === 0"
                      [matBadge]="1">
        mail_outline
      </mat-icon>
    </a>

    <!-- User Dropdown -->
    <button mat-button
            [matMenuTriggerFor]="menu">
      <span>{{ firstName$ | async }}</span>
      <i class="material-icons">keyboard_arrow_down</i>
    </button>
    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <a mat-menu-item *ngIf="isCoach$ | async"
           [routerLink]="rootRoutingQuery.getValue().coachRoute"
           routerLinkActive="d-none">Coach Dashboard</a>
        <a mat-menu-item
           [routerLink]="rootRoutingQuery.getValue().dashboardRoute"
           routerLinkActive="d-none">Dashboard</a>
        <a mat-menu-item
           [routerLink]="rootRoutingQuery.getValue().settingsRoute">Settings</a>
        <button mat-menu-item
                (click)="logout()">Logout</button>
      </ng-template>
    </mat-menu>
  </ng-template>

</nav>
