<div class="outerContainer">
  <div class="innerContainer">
<!--    <app-progress [progress]="progress"></app-progress>-->
    <div class="text-center">
      <div [hidden]="!(imageHidden | async)">
        <p>Upload a Profile Picture</p>
        <button type="button" mat-raised-button color="primary" class="mb-2" (click)="simulateFileUploadClick()">Upload</button>
        <p>{{ file ? file.name : '' }}</p>
      </div>

      <div class="imageContainer" [hidden]="imageHidden | async">
        <button
          mat-icon-button
          type="button"
          (click)="removeImage()"
          class="removeImage"
        >
          <mat-icon aria-label="Cancel Request">close</mat-icon>
        </button>
        <img #displayImage alt="Uploaded Profile Image" />
      </div>
    </div>


<!--    <span>Choose file</span>-->
<!--    <span>{{file ? file.name : ' or drag and drop file here' }}</span>-->
    <input #fileUpload class="file-input" type="file" style="display: none">
  </div>
</div>


