<h2 mat-dialog-title>Add Specific Program Times</h2>
<mat-dialog-content class="mat-typography">
  <h3>We Are Very Sorry, Unfortunately</h3>

  <p>The only way to let your users know what time your program starts is by adding the specific times in the program description.<p>

  <h3>We Promise Though</h3>

  <p>
    In our next software release you will be able to add specific times here,
    you will be able to choose the exact date and time of when they start and when they end.
    Your users will then be be notified 1 day before each start time!</p>

  <h3>Look For This Feature In Our Next Release</h3>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <!--<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Add Specific Times</button>-->
</mat-dialog-actions>
