<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <!--/.Social buttons-->
    <div class="text-center mb-3">
      <a href="https://www.facebook.com/coachhub/" target="_blank" class="m-1">
        <fa-icon size="3x" [icon]="faFacebookSquare"></fa-icon>
      </a>
      <a href="https://twitter.com/coach_hub" target="_blank" class="m-1">
        <fa-icon size="3x" [icon]="faTwitterSquare"></fa-icon>
      </a>
      <a href="https://www.youtube.com/" target="_blank" class="m-1">
        <fa-icon size="3x" [icon]="faYoutubeSquare"></fa-icon>
      </a>
      <a href="https://www.instagram.com/" target="_blank" class="m-1">
        <fa-icon size="3x" [icon]="faInstagramSquare"></fa-icon>
      </a>
      <a href="https://plus.google.com" target="_blank" class="m-1">
        <fa-icon size="3x" [icon]="faGooglePlusSquare"></fa-icon>
      </a>
    </div>

    <div class="container-fluid text-center">
      <div class="row">
        <!--First column-->
        <div class="col-md-4">
          <h2 class="mat-title">Useful Links</h2>
          <ul>
            <li><a class="mat-body" [routerLink]="rootRoutingQuery.getValue().faqRoute">Frequently Asked Questions</a></li>
            <li><a [routerLink]="rootRoutingQuery.getValue().careersRoute">Careers</a></li>
          </ul>
        </div>
        <!--/.First column-->
        <hr class="w-100 clearfix d-md-none">
        <!--Second column-->
        <div class="col-md-4">
          <h2 class="mat-title">Important Pages</h2>
          <ul>
            <li>
              <a [routerLink]="legalQuery.privacyPolicyRoute()">
                Privacy Policy
              </a>
            </li>
            <li>
              <a [routerLink]="legalQuery.termsAndConditionsRoute()">
                Terms and Conditions
              </a>
            </li>
            <li>
              <a [routerLink]="rootRoutingQuery.getValue().contactUsRoute">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
        <!--/.Second column-->
        <hr class="w-100 clearfix d-md-none">
        <!--Third column-->
        <div class="col-md-3">
          <h2 class="mat-title">
            <a [routerLink]="rootRoutingQuery.getValue().partnershipsRoute">Partnerships</a>
          </h2>
          <ul>
            <li><a [routerLink]="partnershipsQuery.sponsorshipRoute()">Sponsorship</a></li>
            <li><a [routerLink]="partnershipsQuery.investorsRoute()">Investors</a></li>
          </ul>

        </div>
        <!--/.Third column-->

      </div>
    </div>

    <!--/.Social buttons-->
    <p class="mat-body m-0 text-center text-white">Copyright &copy; {{ appName }} Inc. 2020</p>
  </div>
  <!-- /.container -->
</footer>
