<div class="loading-container" *ngIf="loader.selectLoading() | async">
  <div class="spinner-container" [class.hasBackground]="loader.selectHasBackground() | async">
    <div class="align-self-center mx-auto text-center cool">
      <mat-spinner color="accent" class="mx-auto"></mat-spinner>
      <p class="m-0 pt-1">{{ loader.selectMessage() | async }}</p>
    </div>
  </div>

  <div class="close-container justify-content-end" *ngIf="loader.isCancellable()">
    <button
      mat-icon-button
      (click)="cancel()"
      type="button"
      class="align-self-start m-2 text-white"
    >
      <mat-icon aria-label="Cancel Request">close</mat-icon>
    </button>
  </div>
</div>

