.spinner-container {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 88888;
  color: #ffffff;
}

.hasBackground {
  background-color: rgba(0, 0, 0, 0.4);
}

.close-container {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  color: #ffffff;
}
