<ch-form-container [maxWidth]="500"
                   title="Forgot your password?"
                   description="Don't worry, we are here to help.  Just enter your password below and we will send you an email with instructions on how to reset your password."
>
  <form #form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ch-simple-loader [loader]="loader"></ch-simple-loader>

    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput
             formControlName="email"
             type="email"
             tabindex="1"
             autofocus>

      <mat-error *ngIf="formGroup.get('email').hasError('required')">
        Email is required
      </mat-error>

      <mat-error *ngIf="formGroup.get('email').hasError('email')">
        Please enter a valid email address
      </mat-error>

    </mat-form-field>

    <ch-simple-message [message]="formMsg | async"></ch-simple-message>

    <re-captcha #captcha
                (resolved)="resolved($event)"
                size="invisible"></re-captcha>

    <button mat-raised-button
            color="primary"
            tabindex="2"
            type="submit">
      Reset Password
    </button>

  </form>
</ch-form-container>


