<!-- Header -->
<header class="py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12 text-center">
        <h2 class="mat-title">
          We Provide People in the Know To People Who Want to Know
        </h2>
        <p class="lead">
          Coach Hub is a platform dedicated to improving somebody's knowledge in the most efficient manner possible.
          We provide a completely
          free platform for coaches and organizations to share their knowledge with anyone through videos and
          podcasts,
          using simple intuitive tools, coaches can also create individual and group programs
          which
          can be conducted locally or completely virtual.
        </p>

        <a mat-raised-button
           color="accent"
           [routerLink]="rootRoutingQuery.getSignUpRoute"
        >Sign Up Today</a>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row mb-4">
    <div class="col-md-6">
      <h2>How we plan to change the world</h2>
      <p>We are working hard to provide you with the best coaches around the world, before a coach
        is featured on our platform they are vetted by us and then further vetted by you. Humanity
        is were it is today because of coaching, knowledge empowers us, we hope that by using
        our platform, you will increase the speed of learning any subject that you wish, by
        providing each of
        our users with a tailored experience of videos, podcasts and coaches learning has never been
        so EASY!</p>
    </div>
    <div class="col-md-6">
      <h2>We're a platform that matters</h2>
      <p>{{ appName }} is changing the way that people around the world are increasing and sharing their knowledge.  Our team is extremely proud
        to know that our platform is helping people all around the world turn their dreams into reality.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-5">
      <div class="text-center">
        <h2>Knowledge is power</h2>
        <p>Start exploring our platform today, whether it's a sport, an instrument,
          a trade, or simply how to cook something new, Coach Hub is increasing the worlds knowledge one user at a time!</p>
        <a mat-button
           color="accent"
           [routerLink]="rootRoutingQuery.getSignUpRoute">Sign Up Now</a>
      </div>

    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<ch-footer></ch-footer>
