//header {
//  color: white;
//  background: #ff5722;
//}
//header {
//  background: rgba(0, 0, 0, 0.7);
//  color: white;
//}
footer {
  color: #fff;
  text-align: center;

  a {
    color: #fff;
  }
}

ul {
  list-style: none;
  padding: 0;
}
