<div class="container py-3">
  <mat-card class="mx-auto mat-elevation-z8">
    <ch-simple-loader [loader]="loader"></ch-simple-loader>
    <h2 class="mat-title">Sign up</h2>
    <mat-card-content>
      <form #f="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="row">
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput
                   formControlName="first_name"
                   maxlength="255"
                   required
                   autofocus>

            <mat-error *ngIf="formGroup.get('first_name').hasError('required')">
              First Name is required
            </mat-error>

            <mat-error *ngIf="formGroup.get('first_name').hasError('maxlength')">
              Your First Name is limited to 255 characters
            </mat-error>

          </mat-form-field>

          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput
                   id="last_name"
                   formControlName="last_name"
                   maxlength="255"
                   required>

            <mat-error *ngIf="formGroup.get('last_name').hasError('required')">
              Last Name is required
            </mat-error>

            <mat-error *ngIf="formGroup.get('last_name').hasError('maxlength')">
              Your Last Name is limited to 255 characters
            </mat-error>

          </mat-form-field>
        </div>

        <div class="row" formGroupName="emails">
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput
                   id="email"
                   type="email"
                   formControlName="email"
                   maxlength="255"
                   required>

            <mat-error *ngIf="formGroup.get('emails.email').hasError('required')">
              Email is required
            </mat-error>

            <mat-error *ngIf="formGroup.get('emails.email').hasError('maxlength')">
              Your Email is limited to 255 characters
            </mat-error>

          </mat-form-field>

          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Confirm Email</mat-label>
            <input matInput
                   type="email"
                   formControlName="email_confirmation"
                   maxlength="255"
                   required>

            <mat-error *ngIf="formGroup.get('emails.email_confirmation').hasError('required')">
              Email Confirmation is required
            </mat-error>

            <mat-error *ngIf="formGroup.get('emails.email_confirmation').hasError('maxlength')">
              Your Email Confirmation is limited to 255 characters
            </mat-error>

            <mat-error *ngIf="formGroup.get(['emails', 'email_confirmation']).hasError('equalValidator')">
              Your Emails do not match
            </mat-error>

          </mat-form-field>

        </div>

        <div class="row" formGroupName="passwords">
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput
                   type="password"
                   formControlName="password"
                   minlength="6"
                   required>

            <mat-error *ngIf="formGroup.get('passwords.password').hasError('required')">
              A Password is required
            </mat-error>

            <mat-error *ngIf="formGroup.get('passwords.password').hasError('minlength')">
              Your Password requires a minimum of 6 characters
            </mat-error>

          </mat-form-field>

          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Confirm Password</mat-label>

            <input matInput
                   type="password"
                   formControlName="password_confirmation"
                   minlength="6"
                   required>

            <mat-error *ngIf="formGroup.get('passwords.password_confirmation').hasError('required')">
              Please confirm your password
            </mat-error>

            <mat-error *ngIf="formGroup.get('passwords.password_confirmation').hasError('minlength')">
              Your Password requires a minimum of 6 characters
            </mat-error>

            <mat-error *ngIf="formGroup.get('passwords.password_confirmation').hasError('equalValidator')">
              Your Passwords do not match
            </mat-error>

          </mat-form-field>
        </div>

        <mat-checkbox class="d-block" formControlName="confirm_terms" required>
          Do you agree to our
          <a target="_blank"
             routerLink='/terms-of-use'>terms of use,</a>
          and
          <a target="_blank"
             routerLink='/privacy-policy'>
            privacy policy.
          </a>
        </mat-checkbox>

        <div *ngIf="formGroup.get('confirm_terms').invalid  && f.submitted">
          <mat-error class="d-block mb-2" *ngIf="formGroup.get('confirm_terms').hasError('required')">
            You must agree to the terms and conditions
          </mat-error>
        </div>

        <re-captcha #captcha
                    (resolved)="resolved($event)"
                    size="invisible"></re-captcha>

        <ch-simple-message [message]="errors$ | async"></ch-simple-message>

        <button mat-raised-button
                color="primary"
                class="d-block my-3"
                type="submit">
          Sign In
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
