$md-primary: (
  50 : #f2e4e5,
  100 : #debbbd,
  200 : #c98e91,
  300 : #b36165,
  400 : #a23f44,
  500 : #921d23,
  600 : #8a1a1f,
  700 : #7f151a,
  800 : #751115,
  900 : #630a0c,
  A100 : #ff9697,
  A200 : #ff6365,
  A400 : #ff3032,
  A700 : #ff1619,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-accent: (
  50 : #e6e5e5,
  100 : #c0bfbe,
  200 : #969493,
  300 : #6c6968,
  400 : #4d4847,
  500 : #2d2827,
  600 : #282423,
  700 : #221e1d,
  800 : #1c1817,
  900 : #110f0e,
  A100 : #ffac56,
  A200 : #ff9323,
  A400 : #f07800,
  A700 : #d66b00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);


$md-accent1: (
  50 : #f9e0e2,
  100 : #efb3b6,
  200 : #e58085,
  300 : #db4d54,
  400 : #d3262f,
  500 : #cb000a,
  600 : #c60009,
  700 : #be0007,
  800 : #b80005,
  900 : #ac0003,
  A100 : #ffd5d5,
  A200 : #ffa2a2,
  A400 : #ff6f6f,
  A700 : #ff5656,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
