$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;

$ch-accent-background: #921d23;
$ch-accent-color: white;

$ch-primary-background: #ff5722;
$ch-primacy-color: white;
