@import '~@angular/material/theming';
@import "themes";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ch-primary: mat-palette($mat-deep-orange);
$ch-accent:  mat-palette($md-primary);

// The warn palette is optional (defaults to red).
$ch-warn:    mat-palette($md-primary);

// Create the theme object (a Sass map containing all of the palettes).
$ch-theme: mat-light-theme($ch-primary, $ch-accent, $ch-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ch-theme);

// Set to at least 16px for iPhone not to zoom
$custom-typography: mat-typography-config(
  $input: mat-typography-level(16px, (19/16))
);
@include mat-input-typography($custom-typography);
@include mat-form-field-typography($custom-typography);

.test12 {
  color: mat-color($ch-primary);

  // Get a specific hue for a palette.
  // See https://material.io/archive/guidelines/style/color.html#color-color-palette for hues.
  //background-color: mat-color($ch-primary, 200);
}

.topBorder {
  border-top: 4px solid mat-color($ch-primary);
}
.primaryBackground {
  background-color: mat-color($ch-primary);
}
