/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/alert";
@import "reset";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

// This forces mat checkbox labels to wrap
.mat-checkbox-layout {
  white-space: normal !important;
}

// Make the default form-field width 100%
mat-form-field {
  width: 100%;
}

mat-error:not(:first-of-type) { display: none; }
mat-form-field {
  margin-bottom: 5px;
}

// Sometimes we want dialogs to not have any padding
.full-bleed-dialog {
  .mat-dialog-container {
    padding: 0;
    // Todo: maybe this should be added to all dialog-containers?
    max-height: calc(100vh - 64px);
  }
}

.mat-checkbox-inner-container {
  margin: 2px 8px auto 0 !important;
}

.mat-input-element {
  font-size: 16px;
}

.primaryBackground {
  background-color: $ch-primary-background;
  color: $ch-primacy-color;
}

.accentBackground {
  background-color: $ch-accent-background;
  color: $ch-accent-color;
}
//mat-form-field .mat-form-field {
//  &-underline {
//    position: relative;
//    bottom: auto;
//  }
//  &-subscript-wrapper {
//    position: static;
//  }
//}
