<div class="container py-4">
  <h1 class="mat-title" [innerHTML]="title + ' ' + id"></h1>

  <div class="viewMenu">
    <a
      class="mr-2"
      mat-stroked-button
      color="primary"
      routerLink="edit"
    >
      Edit
    </a>
    <button
      mat-stroked-button
      color="warn"
      (click)="destroy()"
    >
      Delete
    </button>
  </div>


  <ch-simple-loader [loader]="loader"></ch-simple-loader>

  <ch-simple-message [message]="errMsg | async"></ch-simple-message>

  <ng-content *ngIf="!(loader.selectLoading() | async) && !(errMsg | async)"></ng-content>

</div>
