<div class="container py-3">
  <mat-card class="mx-auto">
    <ch-simple-loader [loader]="loader"></ch-simple-loader>
    <mat-card-header>
      <mat-card-title>Update your password.</mat-card-title>
      <mat-card-subtitle>We recommend updating your password every few months.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="row">
          <mat-form-field class="col-12">
            <input matInput
                   type="password"
                   placeholder="Your Current Password"
                   formControlName="current_password"
                   tabindex="1"
                   required>

            <mat-error *ngIf="formGroup.get('current_password').hasError('required')">
              Your current password is required
            </mat-error>

          </mat-form-field>
        </div>

        <div class="row" formGroupName="passwords">
          <mat-form-field class="col-md-6">
            <input matInput
                   id="password"
                   type="password"
                   placeholder="New Password"
                   formControlName="password"
                   minlength="6"
                   tabindex="2"
                   required>

            <mat-error *ngIf="formGroup.get('passwords.password').hasError('required')">
              A new password is required
            </mat-error>

            <mat-error *ngIf="formGroup.get('passwords.password').hasError('minlength')">
              Your Password requires a minimum of 6 characters
            </mat-error>

          </mat-form-field>

          <mat-form-field class="col-md-6">
            <input matInput
                   id="password_confirmation"
                   type="password"
                   placeholder="Confirm Password"
                   formControlName="password_confirmation"
                   minlength="6"
                   tabindex="3"
                   required>

            <mat-error
              *ngIf="formGroup.get('passwords.password_confirmation').hasError('required')">
              Please confirm your password
            </mat-error>

            <mat-error
              *ngIf="formGroup.get('passwords.password_confirmation').hasError('minlength')">
              Your Password requires a minimum of 6 characters
            </mat-error>

            <mat-error
              *ngIf="formGroup.get('passwords.password_confirmation').hasError('equalValidator')">
              Your Passwords do not match
            </mat-error>

          </mat-form-field>
        </div>

        <ch-simple-message [message]="formMsg | async"></ch-simple-message>

        <button mat-raised-button
                color="primary"
                type="submit"
                tabindex="4">
          Update
        </button>

      </form>

    </mat-card-content>

  </mat-card>
</div>
