<h2 mat-dialog-title>Add Location</h2>
<mat-dialog-content class="p-0">
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-content class="mat-typography pt-3">
  <ch-location-form
    [submitEvent]="submitSubject.asObservable()"
    [hideSubmit]="true"
    (completed)="close($event)"
  ></ch-location-form>
</mat-dialog-content>
<mat-dialog-content class="p-0">
  <mat-divider></mat-divider>
</mat-dialog-content><mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button (click)="onSubmit()">Add</button>
</mat-dialog-actions>
