textarea.mat-input-element.cdk-textarea-autosize {
  box-sizing: content-box;
}

.questionContainer {
  display: flex;
  width: 100%;
}

.requiredMarker {
  color: #f44336;
}

.triggerContainer {
  display: flex;
  align-items: center;
}

.horizontalBar {
  height: 100%;
  width: 3px;
  background-color: #4d90fe;
}

.dragContainer {
  position: relative;
  cursor: move;
  text-align: center;
}

.dragIcon {
  transform: rotate(90deg);
  padding-left: 3px;
}
