<div class="container my-5">
  <h1 class="mat-title">Careers</h1>
  <p>So your interested in joining one of Canada's brightest young startups?</p>
  <div class="row">
    <div class="col-12">
      <h2>It's work that matters.</h2>
      <p>{{ appName }} is changing how people around the world are increasing and sharing their knowledge
        There’s something special about knowing your hard work and talents are helping
        people all around the world turn their dreams into reality.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>We work as a team.</h2>
      <p>
        Coach Hub is still a small team, now is an opportunity to start a career with us at the ground floor.
        Every week brings new challenges, and every week we work
        together to meet them. (We also have plenty of fun together: hack days, happy hours, trips,
        workshops, movies, lunches, and a lot of laughing.)
      </p>
      <p>
        If you are interested in working for our startup, please contact us via <a
        href="mailto:hr@coachhub.com">email</a> or <a href="tel:16132632926">phone</a> and help us change the world.
      </p>
    </div>
    <div class="col-md-6">
      <img [src]="assetsUrl + '/img/coach-hub-team.jpg'">

    </div>
  </div>
</div>
<ch-footer></ch-footer>
