<mat-sidenav-container class="sidenav-container" (backdropClick)="closeSideNav()">
  <mat-sidenav class="sidenav" fixedInViewport disableClose (keydown.escape)="closeSideNav()"
               [opened]="isSideNavOpen$ | async"
               mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ch-nav-list></ch-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-progress-bar *ngIf="isProgressBarLoading$ | async"
                      [style.height.px]="progressBarHeight$ | async"
                      mode="indeterminate"
                      color="accent"></mat-progress-bar>
    <mat-toolbar [style.height.px]="toolbarHeight$ | async"
                 [style.top.px]="progressBarHeight$ | async"
                 color="accent"
                 class="topBorder">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="openSideNav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">
        <img [src]="assetUrl + '/img/header-wide-logo-white.png'"
             class="d-none d-sm-block"
             height="32"
             alt="triangle with equal sides" [srcset]="assetUrl + '/img/header-wide-logo-white.svg'">
        <img [src]="assetUrl + '/img/header-wide-logo-white.png'"
             class="d-sm-none"
             height="32"
             alt="triangle with equal sides" [srcset]="assetUrl + '/img/header-logo-white.svg'">
      </a>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-space"></span>

      <ch-toolbar-content></ch-toolbar-content>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
