<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ch-nav-list></ch-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">
        <img [src]="assetUrl + '/img/header-wide-logo-white.png'"
             height="32"
             alt="triangle with equal sides" [srcset]="assetUrl + '/img/header-wide-logo-white.svg'">
      </a>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-space"></span>

      <ch-toolbar-content></ch-toolbar-content>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
