.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.lineTop {
  position: sticky;
  top: 0;
  height: 2px;
}
.mat-toolbar.mat-accent {
  position: sticky;
  z-index: 1;
}
