<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">
        <img src="assets/header-wide-logo.png" height="32" alt="triangle with equal sides" srcset="assets/header-wide-logo.svg">
      </a>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-space"></span>

      <nav *ngIf="(isAuthenticated$ | async) === false">
        <a mat-button
           [routerLink]="routes.Login">Login</a>
        <a mat-raised-button
           color="accent"
           [routerLink]="routes.SignUp">Sign Up</a>
      </nav>

      <nav *ngIf="isAuthenticated$ | async">
        <!-- Notifications Dropdown -->
        <a mat-button
           [matMenuTriggerFor]="notificationsMenu">
          <i class="material-icons">notifications_none</i>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
        <mat-menu #notificationsMenu="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item>Alarms</button>
            <button mat-menu-item>Health Alerts</button>
          </ng-template>
        </mat-menu>

        <!-- Unread Messages Dropdown -->
        <a [routerLink]="routes.Messaging"
           mat-button
           matTooltip="Inbox">
          <!--[matBadgeHidden]="unreadCount === 0"-->
          <mat-icon [matBadge]="1"
                    matBadgeColor="accent">
            mail_outline
          </mat-icon>
        </a>

        <!-- User Dropdown -->
        <button mat-button
                [matMenuTriggerFor]="menu">
          <span>{{ (user$ | async)?.first_name }}</span>
          <i class="material-icons">keyboard_arrow_down</i>
        </button>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent>
            <!--<a mat-menu-item-->
            <!--[routerLink]="appRoutes.Settings">Settings</a>-->
            <!--<a mat-menu-item-->
            <!--[routerLink]="appRoutes.Contact">Contact Us</a>-->
            <a mat-menu-item
               [routerLink]="routes.Messaging"
               routerLinkActive="d-none">Dashboard</a>
            <a mat-menu-item
               routerLink="/404"
               routerLinkActive="d-none">404 Page</a>
            <button mat-menu-item
                    (click)="logout()">Logout</button>
          </ng-template>
        </mat-menu>
      </nav>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
