<ch-form-container title="User Information"
                   description="You need to change your name?"
                   [maxWidth]="600"
>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ch-simple-loader [loader]="loader"></ch-simple-loader>
    <div class="row">
      <mat-form-field class="col-md-6">
        <input matInput
               placeholder="First Name"
               formControlName="first_name"
               maxlength="255"
               required
               autofocus>

        <mat-error *ngIf="formGroup.get('first_name').hasError('required')">
          First Name is required
        </mat-error>

        <mat-error *ngIf="formGroup.get('first_name').hasError('maxlength')">
          Your First Name is limited to 255 characters
        </mat-error>

      </mat-form-field>

      <mat-form-field class="col-md-6">
        <input matInput
               id="last_name"
               placeholder="Last Name"
               formControlName="last_name"
               maxlength="255"
               required>

        <mat-error *ngIf="formGroup.get('last_name').hasError('required')">
          Last Name is required
        </mat-error>

        <mat-error *ngIf="formGroup.get('last_name').hasError('maxlength')">
          Your Last Name is limited to 255 characters
        </mat-error>

      </mat-form-field>
    </div>

    <!--        <ch-simple-message [message]="formMsg | async"></ch-simple-message>-->

    <button mat-raised-button
            color="accent"
            type="submit">
      Update
    </button>

  </form>

</ch-form-container>
